In [1]:
import pandas as pd

In [2]:
results = pd.read_csv("results/scores/final_scores.csv")
del results["Unnamed: 0"]

In [3]:
results.iloc[:, range(0, 8)]

,best_alpha_d1,best_alpha_d2,best_alpha_d3,best_alpha_d4,cross_val_PCA_d1,cross_val_PCA_d2,cross_val_PCA_d3,cross_val_PCA_d4
0,0.76,0.01,0.01,0.01,0.1556,0.1556,0.4568,0.4558

In [4]:
results.iloc[:, range(8, 16)]

,cross_val_d1,cross_val_d2,cross_val_d3,cross_val_d4,nest_cross_val_d1,nest_cross_val_d2,nest_cross_val_d3,nest_cross_val_d4
0,0.0144,0.0144,0.3583,0.3573,0.0144,0.0144,0.3583,0.3573

In [5]:
results.iloc[:, range(16, 25)]

,r2_d1,r2_d2,r2_d3,r2_d4,sklearn_cv_d1,sklearn_cv_d2,sklearn_cv_d3,sklearn_cv_d4,sklearn_test_error_d1
0,0.638531,0.640209,0.62416,0.63978,0.0144,0.0144,0.3583,0.3573,0.014887

In [6]:
results.iloc[:, range(25, 32)]

,sklearn_test_error_d2,sklearn_test_error_d3,sklearn_test_error_d4,test_error_d1,test_error_d2,test_error_d3,test_error_d4
0,0.014249,0.370917,0.375004,0.014267,0.014462,0.370403,0.355935