In [1]:
import pandas as pd

In [2]:
results = pd.read_csv("results/scores/final_scores.csv")
del results["Unnamed: 0"]

In [3]:
results.iloc[:, range(0, 8)]

,best_alpha_d1,best_alpha_d2,best_alpha_d3,best_alpha_d4,cross_val_PCA_d1,cross_val_PCA_d2,cross_val_PCA_d3,cross_val_PCA_d4
0,0.46,0.49,0.01,12.86,0.151814,0.151834,0.408723,0.408548

In [4]:
results.iloc[:, range(8, 16)]

,cross_val_d1,cross_val_d2,cross_val_d3,cross_val_d4,nest_cross_val_d1,nest_cross_val_d2,nest_cross_val_d3,nest_cross_val_d4
0,0.016633,0.016593,0.387177,0.386762,0.016621,0.016592,0.387165,0.386849

In [5]:
results.iloc[:, range(16, 25)]

,r2_d1,r2_d2,r2_d3,r2_d4,sklearn_cv_d1,sklearn_cv_d2,sklearn_cv_d3,sklearn_cv_d4,sklearn_test_error_d1
0,0.597541,0.579659,0.614784,0.610923,0.015586,0.015577,0.38712,0.387126,0.015538

In [6]:
results.iloc[:, range(25, 32)]

,sklearn_test_error_d2,sklearn_test_error_d3,sklearn_test_error_d4,test_error_d1,test_error_d2,test_error_d3,test_error_d4
0,0.016091,0.393006,0.374153,0.016323,0.017517,0.390154,0.389448