In [7]:
import pandas as pd

In [8]:
results = pd.read_csv("results/scores/final_scores.csv")
del results["Unnamed: 0"]

In [9]:
results.iloc[:, range(0, 8)]

,best_alpha_d1,best_alpha_d2,best_alpha_d3,best_alpha_d4,cross_val_PCA_d1,cross_val_PCA_d2,cross_val_PCA_d3,cross_val_PCA_d4
0,2.29,0.01,12.03,1.0,0.151831,0.151798,0.408905,0.408646

In [10]:
results.iloc[:, range(8, 16)]

,cross_val_d1,cross_val_d2,cross_val_d3,cross_val_d4,nest_cross_val_d1,nest_cross_val_d2,nest_cross_val_d3,nest_cross_val_d4
0,0.016635,0.016599,0.387385,0.386673,0.016651,0.016598,0.387506,0.386805

In [11]:
results.iloc[:, range(16, 25)]

,r2_d1,r2_d2,r2_d3,r2_d4,sklearn_cv_d1,sklearn_cv_d2,sklearn_cv_d3,sklearn_cv_d4,sklearn_test_error_d1
0,0.573482,0.6143,0.610363,0.608989,0.015601,0.015571,0.387578,0.386803,0.015184

In [12]:
results.iloc[:, range(25, 32)]

,sklearn_test_error_d2,sklearn_test_error_d3,sklearn_test_error_d4,test_error_d1,test_error_d2,test_error_d3,test_error_d4
0,0.015841,0.3872,0.350639,0.016684,0.015688,0.385869,0.385637