In [7]:
import pandas as pd

In [8]:
results = pd.read_csv("results/scores/final_scores.csv")
del results["Unnamed: 0"]

In [9]:
results.iloc[:, range(0, 8)]

,best_alpha_d1,best_alpha_d2,best_alpha_d3,best_alpha_d4,cross_val_PCA_d1,cross_val_PCA_d2,cross_val_PCA_d3,cross_val_PCA_d4
0,0.01,0.61,0.01,13.13,0.1556,0.1556,0.4563,0.4508

In [10]:
results.iloc[:, range(8, 16)]

,cross_val_d1,cross_val_d2,cross_val_d3,cross_val_d4,nest_cross_val_d1,nest_cross_val_d2,nest_cross_val_d3,nest_cross_val_d4
0,0.0144,0.0144,0.3584,0.3577,0.0144,0.0144,0.3584,0.3577

In [11]:
results.iloc[:, range(16, 25)]

,r2_d1,r2_d2,r2_d3,r2_d4,sklearn_cv_d1,sklearn_cv_d2,sklearn_cv_d3,sklearn_cv_d4,sklearn_test_error_d1
0,0.646564,0.640141,0.646447,0.646447,0.0144,0.0144,0.3584,0.3577,0.01425

In [12]:
results.iloc[:, range(25, 32)]

,sklearn_test_error_d2,sklearn_test_error_d3,sklearn_test_error_d4,test_error_d1,test_error_d2,test_error_d3,test_error_d4
0,0.01434,0.354122,0.356458,0.014246,0.014357,0.354066,0.354066