In [1]:
import pandas as pd

In [2]:
results = pd.read_csv("results/scores/final_scores.csv")
del results["Unnamed: 0"]

In [3]:
results.iloc[:, range(0, 8)]

,best_alpha_d1,best_alpha_d2,best_alpha_d3,best_alpha_d4,cross_val_PCA_d1,cross_val_PCA_d2,cross_val_PCA_d3,cross_val_PCA_d4
0,0.01,0.01,30.93,7.02,0.153714,0.153649,0.389141,0.388388

In [4]:
results.iloc[:, range(8, 16)]

,cross_val_d1,cross_val_d2,cross_val_d3,cross_val_d4,nest_cross_val_d1,nest_cross_val_d2,nest_cross_val_d3,nest_cross_val_d4
0,0.014808,0.014756,0.367862,0.36691,0.014812,0.014758,0.367922,0.366784

In [5]:
results.iloc[:, range(16, 25)]

,r2_d1,r2_d2,r2_d3,r2_d4,sklearn_cv_d1,sklearn_cv_d2,sklearn_cv_d3,sklearn_cv_d4,sklearn_test_error_d1
0,0.653222,0.649771,0.627269,0.625269,0.014812,0.014767,0.368186,0.366958,0.014462

In [6]:
results.iloc[:, range(25, 32)]

,sklearn_test_error_d2,sklearn_test_error_d3,sklearn_test_error_d4,test_error_d1,test_error_d2,test_error_d3,test_error_d4
0,0.014283,0.373217,0.350861,0.01377,0.014275,0.368007,0.37042