In [1]:
import pandas as pd

In [5]:
results = pd.read_csv("results/scores/final_scores.csv")
del results["Unnamed: 0"]

In [8]:
results.iloc[:, range(0, 8)]

,best_alpha_d1,best_alpha_d2,best_alpha_d3,best_alpha_d4,cross_val_PCA_d1,cross_val_PCA_d2,cross_val_PCA_d3,cross_val_PCA_d4
0,0.01,0.01,0.01,0.01,0.1883,0.188166,0.406206,0.406356

In [9]:
results.iloc[:, range(8, 16)]

,cross_val_d1,cross_val_d2,cross_val_d3,cross_val_d4,nest_cross_val_d1,nest_cross_val_d2,nest_cross_val_d3,nest_cross_val_d4
0,0.01837,0.018338,0.391385,0.391478,0.01836,0.018342,0.391285,0.391075

In [10]:
results.iloc[:, range(16, 25)]

,r2_d1,r2_d2,r2_d3,r2_d4,r^2_d1,sklearn_cv_d1,sklearn_cv_d2,sklearn_cv_d3,sklearn_cv_d4
0,0.598735,0.580476,0.612444,0.624058,0.57478,0.391096,0.017624,0.017596,0.391347

In [11]:
results.iloc[:, range(25, 33)]

,sklearn_test_error_d1,sklearn_test_error_d2,sklearn_test_error_d3,sklearn_test_error_d4,test_error_d1,test_error_d2,test_error_d3,test_error_d4
0,0.017198,0.018124,0.384347,0.395181,0.019307,0.017995,0.371069,0.354968